/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Audiowide");

/*Clear all formatting*/
*{
    margin: 0;
    padding: 0;
    border: none;
}

/*Game background and general styling */
body {
    font-family: 'Audiowide', sans-serif;
    background: url(../images/1781.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}

/* Header */
header {
    background-color: rgba(0, 0, 0, 0.5);
    color: aliceblue;
    text-shadow: 3px 3px blue;
    text-align: center;
    width: 100%;
    font-size: xx-large;
}

/*Game text area*/
#game-text {
    border: 2px solid white;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: none;
    margin: 50px auto;
    text-align: center;
    line-height: 50px;
    width: 80%;
    height: 250px;
}

/*Style for game controls*/
#button-area {
    padding: none;
    margin: auto;
    width: 80%;
    height: auto;
    text-align: center;
}

.btn {
    border: double white;
    font-family: 'Audiowide', sans-serif;
    font-size: xx-large;
}

.btn:hover {
    background-color: white;
    border: double greenyellow;
}

.btn--pri {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background-color: greenyellow;
    margin: 15px auto;
}

/*Style for game options*/
#rules-area {
    padding: none;
    margin: auto;
    width: 80%;
    height: auto;
    text-align: center;
}

.btn--sec {
    background-color: greenyellow;
    border-radius: 10px;
    width: 120px;
    height: 100px;
    margin: 15px auto;
}

/*Footer*/
#footer {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: xx-large;
    text-align: center;
    width: 100%;
}

#footer i {
    text-decoration: none;
    color: aliceblue;
    text-shadow: 3px 3px blue;
}

#footer i:hover {
    color: blue;
    text-shadow: 3px 3px aliceblue;
}

/*Error 404 page*/
#error-area{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 30%;
    margin: auto;
}

#error-area img {
    width: 100%;
    height: auto;
    margin: auto;
}

#error-area p {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    text-align: center;
    margin: auto;
    width: 100%;
    border: 2px solid white;
}

#home-btn{
    font-size: medium;
    width: 180px;
    height: 60px;
    margin-top: 1%;
}

