/*Google Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Audiowide");

/*Game background and general styling */
body {
    font-family: 'Audiowide', sans-serif;
    background: url(../images/1781.jpg);
    background-size: cover;
    width: 100%;
    height: auto;
}

/* Header */
header {
    background-color: black;
    color: blue;
    text-shadow: 1px 1px aliceblue;
    text-align: center;
}

/*Game text area*/
#game-text {
    border: 2px solid white;
    background: black;
    color: white;
    padding: none;
    margin: auto;
    text-align: center;
    width: 80%;
    height: auto;
}

/*Style for game controls*/
#button-area {
    padding: none;
    margin: auto;
    width: 80%;
    height: auto;
    text-align: center;
}

.btn {
    border: 2px double white;
    font-family: 'Audiowide', sans-serif;
    font-size: xx-large;
}

.btn--pri {
    border-radius: 100%;
}

/*Style for game options*/
#rules-area {
    padding: none;
    margin: auto;
    width: 80%;
    height: auto;
    text-align: center;
}

/*Footer*/
#footer {
    background: black;
    font-size: xx-large;
    text-align: center;
}

#footer i {
    text-decoration: none;
    color: blue;
    text-shadow: 1px 1px aliceblue;
}